body {
    margin: 0;
    padding: 0;
}

Main {
    padding: 16px;
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fHNwaWNlc3xlbnwwfDB8MHx8fDI%3D"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable*/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}


footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #0897B4;
    font-size: larger;
    box-shadow: 10px 10px #F2CDAC;
}

img {
    height: 200px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

nav {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #4C4A59;
    padding: 16px;
    background-color: #4caba6;
    box-shadow: 10px 10px #F2CDAC;
    font-size: 20px;
}

a:link {
    text-decoration: none;


  }

  /* unvisited link */
a:link {
    color: black;
  }

  /* visited link */
a:visited {
    color: #4C4A59;
}

a:hover {
background-color:#F2CDAC;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
border-radius: 5px;
}

div.recipes-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;


}

div.grid-background{
    background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fHNwaWNlc3xlbnwwfDB8MHx8fDI%3D");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.recipes-1{
    grid: 1;

}

/* Selects the second li element in a list */
tr:nth-child(even) {
    background-color: #F2CDAC;
}

h1 {
    color:#1B7F7A ;
}
